@keyframes rectangle {
    from {
        background-color: darkseagreen;
    }
    to {
        background-color: skyblue;
    }
}

div {
    width: 220px;
    height: 70px;
    background-color: salmon;
    position: static
}


#animation1 {
    animation-name: rectangle;
    animation-duration: 19s;
    animation-fill-mode: forwards
}

@keyframes container {
    from {
        background-color: mediumslateblue;
    }
    to {
        background-color: hotpink;
    }
    div {

        width: 150px;
        height: 50px;
        background-color: cornflowerblue;
    }
}

#container {
    width: 120px;
    height: 150px;
    position: sticky;
    background: pink;
    border-bottom-style: inset;
}

#animation1 {

    width: 185px;
    height: 150px;
    position: absolute;
    background: white;
    top: 300px;
    left: auto, 198px;


}

div {
  border: 0.4rem outset white;
  outline: 0.5rem solid white;
  box-shadow: 0 0 0 3rem lightgrey;
  border-radius: 12px;
  font: bold 1rem sans-serif;
  margin: 9rem;
  padding: 4rem;
  outline-offset: 0.9rem;


}
